@import "tailwindcss";

@theme {
  /* Colors - Primary */
  --color-primary: hsl(172 67% 45%);
  /* Green 400 */

  /* Colors - Neutral */
  --color-green-900: hsl(183 100% 15%);
  --color-grey-500: hsl(186 14% 43%);
  --color-grey-400: hsl(184 14% 56%);
  --color-grey-200: hsl(185 41% 84%);
  --color-grey-50: hsl(189 47% 97%);
  --color-red-600: hsl(354, 90%, 61%);
  --color-white: hsl(0 100% 100%);

  /* Colors - Hover */
  --color-primary-hover: hsl(from var(--color-primary) h s calc(l + 30));

  /* Typography */
  --font-space-mono: "Space Mono", monospace;

  /* Font sizes */
  --text-input: 1.5rem;

  /* Font weights */
  --font-bold: 700;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .input-hover {
    @apply border border-transparent hover:bg-primary/10 hover:ring-1 hover:cursor-pointer hover:ring-primary transition duration-300
  }
  
  .input-focus {
    @apply border border-transparent focus-within:bg-primary/15 focus-within:ring-1 focus-within:cursor-text focus-within:ring-primary transition duration-300;
  }
}